<header>
  <app-top-bar></app-top-bar>
</header>

<section class="container">
  
  <main class = "main_content">
    <router-outlet></router-outlet>
  </main>

  <aside class="side_menu">
    <div class="panel panel-search">
      <h3 class="panel-title text-success"><fa-icon [icon]="['fas', 'search']"></fa-icon> Tìm kiếm</h3>
      <i class="search-hint"><fa-icon [icon]="['fas', 'info-circle']"></fa-icon> English, Vietnamese, Japanese, Furigana</i>
      <div class="panel-body">
        <form class="word_search" [formGroup]="wordSearchForm" (ngSubmit)="onSubmit(wordSearchForm.value)" accept-charset="UTF-8" >
          <div class="search-field">
            <input placeholder="Nhập và nhấn ENTER" class="form-control" type="search" name="search_word" formControlName="search_word">
          </div>
          <div class="search-button">
            <button name="button" type="submit" class="btn btn-primary">
            <i class="fa fa-search"></i> Tìm</button>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-random-words">
      <h3 class="panel-title text-success"><fa-icon [icon]="['fas', 'desktop']"></fa-icon> Từ Trong Ngày</h3>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
    </div>
    <div class="panel panel-categories">
      <h3 class="panel-title text-success"><fa-icon [icon]="['fas', 'list']"></fa-icon> Danh Mục</h3>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
    </div>
  </aside>
</section>
