/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  /*color: #616161;*/
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0px;
  padding:0px;
}

body {
  margin: 0;
  background-color: rgba(250, 248, 142, 0.274);
  background-image: url(https://hanhtrinhbrse.com/assets/wood-pattern.png);
}

router-outlet + *  {
  padding: 0 0px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button 
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}*/

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  /*background-color: #eb6864;*/
  background-color: #8345ec;
  
}

app-top-bar .top_bar_main {
  width: 100%;
  height: 68px;
  /*background-color: #eb6864;*/
  background-color: #8345ec;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

app-top-bar .top_bar_dropdown{
  background-color: #8345ec;
  padding: 5px;
  margin-top: 0px;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/*Footer*/
footer{
  background: #4F4F4F;
  
  
  width: 100%;
  border-top: 3px solid #8345ec;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  color: white;
  display: block;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #222;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #8345ec;
    border: 1px solid #8345ec;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.sticky {
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    width: 100%;
}

.hidden{
    display:none;
}
.show{
    display:block;
}

#modal-container {
    position:  fixed;
    top: 300px;
    left: 50%;
    width: 375px;
    background: white;
    margin-left: -187.5px;
    text-align: center;
    box-shadow: 0px 0px 2px 1px black;
    z-index: 100;
}

#overlay {
    position: absolute;
    top: 0px;
    left:  0px;
    z-index:  99;
    background:  rgba(0,0,0,0.8);
    width:  100%;
    height: 100%;
}